variables:
  CONFIG_ARGS: ""  # Variable for additional arguments for configure.sh

default:
  tags: [k8s]

stages:
  - lint
  - pages
  - test

Check_Stopcommands:
  image: debian:stable-slim
  stage: lint
  needs: []
  script:
    - '! grep -irn -e "^\s*error\s*stop" -e "^\s*stop" --include="*.F90" 
      --exclude-dir=Analysis --exclude-dir=HDF5 --exclude-dir=testsuite 
      --exclude-dir=Not\_supported --exclude="runtime\_error\_mod.F90"'

pages:
  image: debian:stable-slim
  stage: pages
  needs: []
  script:
    - mkdir public
    - echo '<meta http-equiv="refresh" content="0; URL=https://alf-qmc.github.io/ALF/" />' > public/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'


test:
  stage: test
  needs: []
  image: ghcr.io/alf-qmc/alf-container/alf-requirements/$IMAGE_MINOR
  parallel:
    matrix:
      - MACHINE: GNU
        IMAGE_MINOR: [bullseye, bookworm, trixie]
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
      - MACHINE: PGI
        IMAGE_MINOR: bullseye-pgi-21-03
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
      - MACHINE: INTEL
        IMAGE_MINOR: [bullseye-intel, bookworm-intel-2024.2]
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
      - MACHINE: INTELLLVM
        IMAGE_MINOR: bookworm-intel
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
  script:
    - . configure.sh $MACHINE $DEVEL $MODE $CONFIG_ARGS
    - echo $ALF_FC
    - $ALF_FC --version
    - make all
    - if echo "$MODE" | grep -iq -e "TEMPERING" -e "PARALLEL_PARAMS"; then
        cp -r Scripts_and_Parameters_files/Start_Tempering run;
      else
        cp -r Scripts_and_Parameters_files/Start run;
      fi
    - cd run
    - if echo "$MODE" | grep -iq -e "serial" -e "noMPI"; then
        "$ALF_DIR/Prog/ALF.out";
      else
        mpiexec -n 4 "$ALF_DIR/Prog/ALF.out";
      fi
    - if echo "$MODE" | grep -iq -e "TEMPERING" -e "PARALLEL_PARAMS"; then cd Temp_0; fi
    - if echo "$CONFIG_ARGS" | grep -iq "HDF5"; then
        "$ALF_DIR/Analysis/ana_hdf5.out";
      else 
        "$ALF_DIR/Analysis/ana.out" *;
      fi
    - mkdir "$ALF_DIR/testsuite/tests"
    - cd "$ALF_DIR/testsuite/tests"
    - if echo $ALF_FC | grep -q "mpiifort -fc=ifx"; then exit 0; fi
    - cmake ..
    - cmake --build . --target all --config Release
    - ctest -VV -O log.txt
    - cat log.txt | grep "tests passed" | cut -d " " -f 1