variables:
  CONFIG_ARGS: ""  # Variable for additional arguments for configure.sh

default:
  tags: [k8s]

stages:
  - lint
  - build_doc
  - build
  - test
  - testbranch
  - test_vs_ed
  - memleaks

.test_template:
  stage: test
  variables:
    MACHINE: GNU
    MODE: noMPI
  needs: []
  script:
    - . configure.sh $MACHINE $DEVEL $MODE $CONFIG_ARGS
    - echo $ALF_FC
    - $ALF_FC -v
    - make all
    - if echo "$MODE" | grep -iq -e "TEMPERING" -e "PARALLEL_PARAMS"; then
        cp -r Scripts_and_Parameters_files/Start_Tempering run;
      else
        cp -r Scripts_and_Parameters_files/Start run;
      fi
    - cd run
    - if echo "$MODE" | grep -iq -e "serial" -e "noMPI"; then
        "$ALF_DIR/Prog/ALF.out";
      else
        mpiexec -n 4 "$ALF_DIR/Prog/ALF.out";
      fi
    - if echo "$MODE" | grep -iq -e "TEMPERING" -e "PARALLEL_PARAMS"; then cd Temp_0; fi
    - if echo "$CONFIG_ARGS" | grep -iq "HDF5"; then
        "$ALF_DIR/Analysis/ana_hdf5.out";
      else 
        "$ALF_DIR/Analysis/ana.out" *;
      fi
    - mkdir "$ALF_DIR/testsuite/tests"
    - cd "$ALF_DIR/testsuite/tests"
    - if echo $ALF_FC | grep -q "mpiifort -fc=ifx"; then exit 0; fi
    - cmake ..
    - cmake --build . --target all --config Release
    - ctest -VV -O log.txt
    - cat log.txt | grep "tests passed" | cut -d " " -f 1

#################################################################################

Check_Stopcommands:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bookworm-buildd
  stage: lint
  needs: []
  except:
    changes:
      - .gitignore
      - CITATION
      - README.md
      - license.*
  script:
    - '! grep -irn -e "^\s*error\s*stop" -e "^\s*stop" --include="*.F90" 
      --exclude-dir=Analysis --exclude-dir=HDF5 --exclude-dir=testsuite 
      --exclude-dir=Not\_supported --exclude="runtime\_error\_mod.F90"'

prep_test_branch:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bookworm-buildd
  stage: testbranch
  when: manual
  needs: []
  tags:
    - k8s
  script:
    - apt-get update && apt-get install -y python3-yaml
    - ./testsuite/test_branch_generate_config.py
    - cat generated-config.yml
  artifacts:
    paths:
      - generated-config.yml
    expire_in: 1 day

trigger_test_branch:
  stage: testbranch
  needs: [prep_test_branch]
  trigger:
    include:
      - artifact: generated-config.yml
        job: prep_test_branch
    strategy: depend
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID

prep_ED_test:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bookworm-buildd
  stage: test_vs_ed
  when: manual
  needs: []
  tags:
    - k8s
  script:
    - apt-get update && apt-get install -y python3-yaml
    - ./testsuite/test_vs_ed/prep_test.py
    - cat generated-config.yml
  artifacts:
    paths:
      - generated-config.yml
      - testsuite/test_vs_ed
    expire_in: 1 day

trigger_ED_test:
  stage: test_vs_ed
  needs: [prep_ED_test]
  trigger:
    include:
      - artifact: generated-config.yml
        job: prep_ED_test
    strategy: depend
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID

create_doc:
  image: aergus/latex
  stage: build_doc
  needs: []
  artifacts:
    paths:
      - Documentation/doc.pdf
  script:
    - cd Documentation
    - latexmk -pdf doc.tex

create_doxygen:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bookworm-buildd
  stage: build_doc
  needs: []
  artifacts:
    expire_in: 120 days
    paths:
      - doxygen/*
      - Images/*
  script:
      - apt-get update && apt install -y doxygen graphviz
      - doxygen doxygen/Doxyfile

pages:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bookworm-buildd
  stage: build_doc
  script:
    - apt-get update && apt install -y doxygen graphviz
    - doxygen doxygen/Doxyfile
    - mkdir public
    - mv doxygen/html/* public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'


test:
  extends: .test_template
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/alf-requirements/$IMAGE_MINOR
  parallel:
    matrix:
      - MACHINE: GNU
        IMAGE_MINOR: [bullseye, bookworm]
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
      - MACHINE: GNU
        IMAGE_MINOR: [bullseye-openblas]
        MODE: [noMPI]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
      - MACHINE: PGI
        IMAGE_MINOR: bullseye-pgi-21-03
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
      - MACHINE: INTEL
        IMAGE_MINOR: [bullseye-intel, bookworm-intel-2024.2]
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]
      - MACHINE: INTELLLVM
        IMAGE_MINOR: bookworm-intel
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]
        CONFIG_ARGS: ["", "HDF5"]

test_mac:
  extends: .test_template
  tags: [macos]
  parallel:
    matrix:
      - MACHINE: GNU
        MODE: [noMPI, MPI, TEMPERING, PARALLEL_PARAMS]
        DEVEL: ["", Devel]

valgrind_GNU-Bullseye:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/alf-requirements/bullseye
  stage: memleaks
  needs: []
  variables:
    MACHINE: GNU
  script:
      - sudo apt-get update && sudo apt-get install -y valgrind
      - . configure.sh $MACHINE devel serial $CONFIG_ARGS
      - gfortran -v
      - make lib
      - make program
      - cp Prog/ALF.out Scripts_and_Parameters_files/Start
      - cd Scripts_and_Parameters_files/Start
      - cat parameters
      - valgrind --leak-check=full --log-file=vglog.txt ./ALF.out
      - cat vglog.txt
      - grep lost vglog.txt | cut -d":" -f 2 | cut -d " " -f 2 | f=$(cat); echo $(( ${f//$'\n'/+} ))
