name: Test vs given ED reference results
on: 
  workflow_dispatch:
  push:
    branches: ["adapt-test-branch"]

jobs:
  prepare_matrix:
    runs-on: ubuntu-latest
    outputs:
      compile_matrix: ${{ steps.set-matrix.outputs.compile_matrix }}
      simulation_matrix: ${{ steps.set-matrix.outputs.simulation_matrix }}
    steps:
      - uses: actions/checkout@v6

      - id: set-matrix
        run: ./testsuite/test_vs_ed/prep_test.py

      - name: Upload prepared test directories
        uses: actions/upload-artifact@v6
        with:
          name: prepared-test-directories
          path: testsuite/test_vs_ed/*/
  compile:
    needs: prepare_matrix
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.prepare_matrix.outputs.compile_matrix) }}
    steps:
      - name: Install pyALF
        run: pip install --no-deps pyALF
      - uses: actions/checkout@v6
      - name: Download prepared test directories
        uses: actions/download-artifact@v7
        with:
          name: prepared-test-directories
          path: testsuite/test_vs_ed/
      - run: ls -la $PWD
      - run: ls -la testsuite/test_vs_ed/
      - run: ls -la testsuite/test_vs_ed/${{ matrix.test_name }}_${{ matrix.env_name }}
      - name: Compile ALF
        run: cd testsuite/test_vs_ed/${{ matrix.test_name }}_${{ matrix.env_name }} && ../compile.py ${{ matrix.machine }}
      - name: Upload compiled ALF binary and test directory
        uses: actions/upload-artifact@v6
        with:
          name: simdir-${{ matrix.test_name }}-${{ matrix.env_name }}-${{ matrix.machine }}
          path: testsuite/test_vs_ed/${{ matrix.test_name }}_${{ matrix.env_name }}

  simulate:
    needs: [prepare_matrix, compile]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.prepare_matrix.outputs.simulation_matrix) }}
    steps:
      - name: Download compiled ALF binary
        uses: actions/download-artifact@v7
        with:
          name: simdir-${{ matrix.test_name }}-${{ matrix.env_name }}-${{ matrix.machine }}
          path: testsuite/test_vs_ed/${{ matrix.test_name }}_${{ matrix.env_name }}
      - run: ls -la $PWD
      - run: ls -la testsuite/test_vs_ed/
      - run: ls -la testsuite/test_vs_ed/${{ matrix.test_name }}_${{ matrix.env_name }}
      - run: chmod +x testsuite/test_vs_ed/${{ matrix.test_name }}_${{ matrix.env_name }}/ALF.out
      - name: Run ALF test vs main branch
        run: cd testsuite/test_vs_ed/${{ matrix.test_name }}_${{ matrix.env_name }}/${{ matrix.CI_NODE_INDEX }} && mpiexec -n 2 ../ALF.out

      - name: Upload simulation results
        uses: actions/upload-artifact@v6
        with:
          name: simulation-results-${{ matrix.test_name }}-${{ matrix.env_name }}-${{ matrix.machine }}-${{ matrix.CI_NODE_INDEX }}
          path: testsuite/test_vs_ed/

  analyze:
    needs: simulate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install pyALF
        run: pip install --no-deps pyALF
      - name: Download simulation results
        uses: actions/download-artifact@v7
        with:
          path: testsuite/test_vs_ed/
      - name: Analyze simulation results
        run: |
          cd testsuite/test_vs_ed
          for dir in */; do
            cd "$dir" && ../analysis.py
            cd ..
          done
      # - name: Upload compiled ALF binary and test directory
      #   uses: actions/upload-artifact@v6
      #   with:
      #     name: simdir-${{ matrix.test_dir }}-${{ matrix.image[0] }}-${{ matrix.image[1] }}
      #     path: |
      #       ${{ matrix.test_dir }}/results.json
      #       ${{ matrix.test_dir }}/test.png
      #       ${{ matrix.test_dir }}/spec.yaml
