name: Test vs main branch

on: workflow_dispatch

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}
    steps:
        - id: set
          run: |
            echo "matrix={'image_minor': ['bookworm-buildd'], 'mode': ['test_vs_main'], 'devel': ['devel', 'stable'], 'config': ['default']}" >> $GITHUB_OUTPUT
    #   - uses: actions/checkout@v4
    #   - name: Prepare test branch
    #     run: |
    #       python3 ./testsuite/test_branch_generate_config.py
    #       cat generated-config.yml >> $GITHUB_OUTPUT
    #   - name: Upload generated config artifact
    #     uses: actions/upload-artifact@v4
    #     with:
    #       name: generated-config

  compile:
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
    #   - uses: actions/checkout@v4
    #   - name: Download generated config artifact
    #     uses: actions/download-artifact@v4
    #     with:
    #       name: generated-config
    #   - name: Compile test branch
    #     run: |
    #       cat generated-config/generated-config.yml
      - run: echo "Running test with ${{ matrix.image_minor[0] }} - ${{ matrix.mode }} - ${{ matrix.devel }} - ${{ matrix.config }}"
