name: Test vs main branch

on: workflow_dispatch

jobs:
#   prepare:
#     runs-on: ubuntu-latest
#     outputs:
#       env_names: ${{ steps.set.outputs.env_names }}
#       test_names: ${{ steps.set.outputs.test_names }}
#     steps:
#       - id: set
#         run: |
#           echo "env_names=['Bullseye', 'Bookworm']" >> $GITHUB_OUTPUT
#           echo "test_names=['Hubbard_N_Leg_Ladder_temper', 'Langevin', 'Langevin_1']" >> $GITHUB_OUTPUT
#     #   - name: Prepare test branch
#     #     run: |
#     #       python3 ./testsuite/test_branch_generate_config.py
#     #       cat generated-config.yml >> $GITHUB_OUTPUT
#     #   - name: Upload generated config artifact
#     #     uses: actions/upload-artifact@v4
#     #     with:
#     #       name: generated-config

  test_branch:
    # needs: prepare
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-requirements/${{ matrix.image[0] }}
    strategy:
      matrix:
        image: 
          - [bullseye, GNU]
          - [bookworm, GNU]
          - [trixie, GNU]
          # - [bullseye-openblas, GNU]
          # - [tumbleweed, GNU]
          - [bullseye-pgi-21-03, PGI]
          - [bookworm-pgi-24-09, PGI]
          - [bullseye-intel, INTEL]
          - [bookworm-intel-2024.2, INTEL]
          - [bookworm-intel, INTELLLVM]
    steps:
      - name: Install pyALF
        run: pip install --no-deps pyALF
      - uses: actions/checkout@v6
        with:
          ref: master
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.test_branch || github.ref_name }}
      - name: Check if mpiexec supports --use-hwthread-cpus
        id: mpi_flag_check
        run: mpiexec --version | grep -iq -e 'Open MPI' -e 'OpenRTE' &&
             echo "value='--mpiexec_args=--use-hwthread-cpus'" >> $GITHUB_OUTPUT ||
             echo "value=''" >> $GITHUB_OUTPUT
      - name: Run ALF test vs main branch
        run: alf_test_branch
            --alfdir $PWD
            --sim_pars $PWD/testsuite/test_branch_parameters.json
            --machine ${{ matrix.image[1] }}
            --mpi
            --branch_T ${{ github.event.inputs.test_branch || github.ref_name }}
            --branch_R master
            --devel
            ${{ steps.mpi_flag_check.outputs.value }}
      - name: Upload test branch results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-branch-results-${{ matrix.image }}
          path: 
            test.txt